.wp-block-wagepoint-metric {
    display: flex;
    gap: var(--metric-gap, 10px);

    .metric__wrapper,
    .metric-wrapper {
        display: flex;
        gap: 1rem;
        align-items: flex-start;
    }

    .metric__icon,
    .metric-icon,
    .wp-block-icon {
        flex-shrink: 0;
        height: 100px;
        width: 100px;
        border-radius: var(--border-radius-sm, 20px);
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            display: block;
        }

        >div {
            display: flex;
            align-items: center;
            justify-content: center;
            >svg {
                width: 100%;
            }
        }

        >div,
        img {
            width: 60%;
            height: 60%;
            object-fit: contain;
        }
    }

    .metric__content,
    .metric-content {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 0;
        line-height: 1.2;
        align-self: center;
    }

    .metric__title,
    .metric-title,
    .metric-value {
        font-size: var(--font-size--4, 45px);
        font-weight: 600;
    }

    .metric__description,
    .metric-description,
    .metric-label {
        font-size: var(--font-size--8, 20px);
        font-weight: 300;
    }

    .wp-block-icon.bg-auto {
        background-color: var(--auto-icon-bg, #F9B234);
    }
}