@import "mixins";
@import "vars";
@import "color-utilities";
@import "theming";
@import "base";

@import 'components/cards';
@import 'pattern-styles/global-header';
@import 'pattern-styles/hero';
@import 'pattern-styles/metrics-bar';

.container__inner {
    border-radius: var(--container-corner-radius);
    padding: var(--container-padding-y, 0px) var(--container-padding-x, 0px);
}

%meta-heading,
.meta-heading {
    font-size: var(--font-size-8, 20px);
    font-weight: 500;
}

.wp-block-post-terms {
    display: flex;
    flex-wrap: wrap;
    gap: .5em;
    margin: 1em 0 !important;

    > * {
        display: inline-block;
        padding: .5em 1em;
    }
    a {
        border: 1px solid #000;
        text-decoration: none;
    }

    &__prefix {
        //padding-right: 0;
    }

    &__separator {
        display: none;
    }
}

.entry-content {
  >*:first-child {
    margin-top: 15px;
    >.container__inner {
      --extra-padding: var(--global-menu-height, 0px);
    }
  }

  >.wp-block-cover {
    padding: 4rem 1.5rem;
    padding-top: calc(var(--extra-padding, 0px) + 4rem);
  }
}

.hero-cover-bg {
    .wp-block-cover__inner-container {
        > * {
            padding-bottom: 0 !important;
        }
    }
}